# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName cyclistsofgreaterseattle.net
AuthUserFile /home/cyclists/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/cyclists/public_html/_vti_pvt/service.grp

# Turn on SSI (DPS 1/11/2012)
AddType text/html .shtml
AddHandler server-parsed .shtml
Options Indexes FollowSymLinks Includes
DirectoryIndex index.html index.shtml
