* {
	margin: 0;
	padding: 0;
}

body {
background: #333;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 20px;
color: #222;
}

a {
text-decoration: none;
color: #bf1e2d;

}

a:hover {
text-decoration: underline;
color: #4F5D7F;
}

#wrap {
margin: 20px auto 10px auto;
width: 800px;
background: #fff; /* was #fff */
padding: 10px;
border: 5px solid #000;
}

#header {
height: 150px;
width: 800px;
background: url(http://www.cyclistsofgreaterseattle.org/COGSContentPages/Images/SistersRide-800-150.JPG) no-repeat;
}

#header h1 { 
font-size: 50px;
letter-spacing: -1px;
line-height: 40px;
padding: 20px 0 0 10px;
color: #FFD700;
}

#header h1 a { 
color: #D1DDEF;
text-decoration: none;
font-weight: 600;
letter-spacing: -1px;
}

#header h1 a:hover {
color: #fff;
}

#header h5 {
color: #D1DDEF;
}

#menu {
height: 30px;
line-height: 30px;
background: #aaa;
}

/**/
/*************************************************************/
/*****              Content Division              ************/
/*************************************************************/
/**/

div.content {
clear: left;
}
#content {
padding: 0 20px 20px 0;
}

.right {
float: right;
width: 530px;
text-align: justify;
padding-top: 5px;
}

.right h2 {
font-size: 18px;
font-weight: 100;
padding: 15px 0 7px 0;
}

.right h2 a {
text-decoration: none;
}

.right h2 a:hover {
}

.left {
float: left;
width: 230px;
padding-top: 10px;
}

.left h2 {
margin: 10px 0 0 0;
padding-left: 10px;
height: 24px;
line-height: 24px;
font-size: 15px;
}

.left ul {
padding: 10px 0 15px 30px;
list-style-type: square;
}

.left ul li a {
text-decoration: none;
font-weight: 600;
}

.left ul li a:hover {
}

/**/
/*************************************************************/
/*****              Footer                        ************/
/*************************************************************/
/**/

#footer {
text-align: center;
font-size: 11px;
color: #aaa;
}

#footer a { color: #aaa; }
#footer a:hover { color: #111; }

.right ul {
padding: 10px 0 15px 30px;
list-style-type: square;
}

.right h3 {
padding: 15px 0 7px 0;
}